name: build
on: [push, pull_request]
jobs:
  dotnet-build-logic:
    if: true
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
        
    - name: Install Workloads
      run: dotnet workload restore "./logic/logic.sln"
    - name: Build Logic
      run: dotnet build "./logic/logic.sln" -c Release
      
  dotnet-build-install:
    if: true
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Install Workloads
      run: dotnet workload restore "./installer/installer.sln"
    - name: Build Installer
      run: dotnet build "./installer/installer.sln" -c Release -f net8.0-windows10.0.19041.0
      
  dotnet-build-launcher:
    if: true
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
        
    - name: Build Launcher
      run: dotnet build "./launcher/launcher.sln" -c Release

  dotnet-build-playback:
    if: true
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
        
    - name: Build Playback
      run: dotnet build "./playback/playback.sln" -c Release
